.divgerallingup {
    width: 100%;
    height: 100vh;
    background-color: #09141F;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.card-leftuplogin {
    z-index: 1;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 38%;
    height: 100%;
    background-color: #0c141b;
    border-right: #4c77af21 1px solid;
}

.text-singupleftuplogin {
    font-size: 25px;
    color: rgba(226, 232, 240, 0.521);
    margin-bottom: 40px;
}

.labelforloginup {
    display: flex;
    flex-direction: column;
}

.inputpasswordusernameloginup {
    padding: 20px;
    width: 362px;
    height: 51px;
    outline: none;
    background-color: #1E293B;
    border: #FFFFFF05 1px solid;
    border-radius: 7px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}

.inputpasswordusernameloginup:focus {
    transition: all 0.4s ease;
    border: 1px solid #FFFFFF25;
}

.labelloginuptextcolor {
    color: rgba(226, 232, 240, 0.521);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 13px;
}

.forgoutpasswordmy {
    color: rgba(226, 232, 240, 0.308);
    margin-left: 177px;
    font-size: 13px;
    font-weight: 400;
    transition: all ease 0.4s;
}

.forgoutpasswordmy:hover {
    color: rgb(226, 232, 240);
}

.buttonpasswordusernameloginup {
    outline: none;
    width: 362px;
    height: 51px;
    margin-top: 36px;
    background-color: #BB9E73;
    border: 1px solid #ffc671;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: all ease 0.4s;
}

.buttonpasswordusernameloginup:hover {
    background-color: #bb9e73ce;
}

.card-rightuplogin {
    height: 100%;
    width: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.h1-textwelcomeloginup {
    color: #fff;
    z-index: 1;
    font-size: 75px;
}

.image-rightuplogin {
    position: absolute;
    bottom: 0;
    left: 10%;
    user-select: none;
    z-index: 0;
}

.svg-imagewelcomeloginup {
    background-size: cover;
    position: absolute;
    z-index: 0;
    bottom: -170px;
    left: 38%;
    width: 62%;
}

.inputboxcheckboxinputremember {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: rgba(226, 232, 240, 0.534);
}

.h5checkboxinputremember {
    text-align: center;
    margin-top: 20px;
    color: rgba(226, 232, 240, 0.534);
    font-size: 14px;
    font-weight: 400;
}

#checkboxinputremember, .checkboxinputremember {
    cursor: pointer;
}

@media only screen and (max-width: 1030px) {
    .card-rightuplogin {
      display: none;
    }

    .card-leftuplogin {
        width: 100%;
    }
  }

@media only screen and (max-width: 371px) {
      .inputpasswordusernameloginup {
        width: 300px;
      }
      .buttonpasswordusernameloginup {
        width: 300px;
      }
      .buttonpasswordusernameloginupnext {
        width: 300px;
      }
       .buttonpasswordusernameloginupback {
        width: 300px;
      }
      .forgoutpasswordmy {
        margin-left: 180px;
      }
    }

.alertforgotpasswordlogin {
    position: absolute;
    top: 10px;
    right: 10px;
}

.margintop13px {
    margin-top: 13px;
}

.buttonpasswordusernameloginupback {
    outline: none;
    width: 362px;
    height: 40px;
    margin-top: 5px;
    background-color: #c2464600;
    border: 1px solid #df3c3c;
    color: #ee5c5c;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: all ease 0.4s;
}

    
.buttonpasswordusernameloginupback:hover {
    background-color: rgb(173, 53, 53);
    color: #fff;
}

.buttonpasswordusernameloginupnext {
    outline: none;
    width: 362px;
    height: 51px;
    background-color: #BB9E73;
    border: 1px solid #ffc671;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: all ease 0.4s;
}

.buttonpasswordusernameloginupnext:hover {
    background-color: #bb9e73c7;
}

.step3-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #09141F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step3-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.modalsss {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentss {
    position: relative;
    background-color: #FAFAF9;
    margin: 15% auto;
    padding: 40px;
    width: 464px;
    min-height: 255px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-contentss > input {
    width: 100%;
    border: 1px solid #EBEBEB;
    height: 45px;
    border-radius: 8px;
    padding: 10px;
    outline: none !important;
    margin-top: 24px;
}

.modal-contentss > button {
    width: 100%;
    height: 45px;
    background-color: #383838;
    color: white;
    border-radius: 8px;
    outline: none !important;
    margin-top: 16px;
}

.modal-contentss > span {
    position: absolute;
    top: 5px;
    right: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-finance-buy {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1E293B;
    border: 1px solid #ffffff31;
    border-radius: 17px;
    width: 280px;
    height: 320px;
    transition: all ease 0.6s;
    cursor: pointer;
}

.card-finance-buy:hover {
    border: 1px solid #bb9e73;
}